<div class="container">
    
    <div class="container">
        <h2>Prepare the order to sending</h2>
        <div class="form-group">
            <button class="btn btn-default" (click)="reloadSummary()">Refresh...</button>
        </div>
    </div>

    <div role="form" *ngIf='summary.orders.length'>

        <div class="form-group">
            <label>Total orders: {{summary.orders.length}}</label>
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Salad</th>
                    <th>Soup</th>
                    <th>MainCourse</th>
                    <th>Drink</th>
                    <th>Snacks</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let value of summary.orders'>
                    <td>{{value.userName}}</td>
                    <td>{{value.salad}}</td>
                    <td>{{value.soup}}</td>
                    <td>{{value.mainCourse}}</td>
                    <td>{{value.drink}}</td>
                    <td>{{value.snacks}}</td>
                    <td><button class="btn btn-sm" (click)="removeOrder(value.userName)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">

            <button type="button" class="btn btn-default" (click)="isDetailsCollapsed=!isDetailsCollapsed">
                <span [class]="isDetailsCollapsed ? 'glyphicon glyphicon-collapse-down' : 'glyphicon glyphicon-expand'" aria-hidden="true"></span> Details
            </button>

            <hr>
            <div [collapse]="isDetailsCollapsed">
                <ul class="list-group" *ngFor='let value of summary.salad'>
                    <li class="list-group-item">{{value.name}} : {{value.count}}</li>
                </ul>
                <ul class="list-group" *ngFor='let value of summary.soup'>
                    <li class="list-group-item">{{value.name}} : {{value.count}}</li>
                </ul>
                <ul class="list-group" *ngFor='let value of summary.mainCourse'>
                    <li class="list-group-item">{{value.name}} : {{value.count}}</li>
                </ul>
                <ul class="list-group" *ngFor='let value of summary.drink'>
                    <li class="list-group-item">{{value.name}} : {{value.count}}</li>
                </ul>
                <ul class="list-group" *ngFor='let value of summary.snacks'>
                    <li class="list-group-item">{{value.name}} : {{value.count}}</li>
                </ul>
            </div>
        </div>

        <div class="form-group row">

            <div class="container col-md-9">
                <textarea #orderInput class="form-control" rows="16">{{summary.orderText}}</textarea>
            </div>
            <div class="container col-md-3">

                <div class="row">
                    <button class="btn btn-primary" title="Copy order to clipboard!"
                            (click)="copyToClipboard(orderInput)">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>&nbsp;Copy to clipboard!
                    </button>
                </div>

                <div class="row top-buffer">
                    <a class="btn btn-default" title="Download docx file" href="api/files/summary"><i class="glyphicon glyphicon-download"></i> Download order file</a>
                </div>

            </div>
        </div>

    </div>

</div>
