<div class="container">
    <h2>Please make an order!</h2>

    <div role="form">
        <div role="form">
            <div class="row">
                <div class="col-md-4">
                    <label for="userName">User</label>

                    <div id="userName" class="form-inline">
                        <input type="text" *ngIf="!checkAnotherUser" class="form-control" readonly [(ngModel)]="userName" />
                        <button class="btn" *ngIf="!checkAnotherUser" (click)="readUsersList()">Other...</button>

                        <select *ngIf="checkAnotherUser" class="form-control" [(ngModel)]="userName">
                            <option *ngFor="let u of users" [ngValue]="u">{{u}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="paymentMethod">Payment method</label>
                    <div id="paymentMethod" class="form-inline">
                        <select class="form-control" [(ngModel)]="paymentMethod">
                            <option value="1">Cash</option>
                            <option value="2">Card</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <h3>{{header}}</h3>
                <div class="row">
                    <collection-selector class="col-md-3" [product]="salad"></collection-selector>
                    <collection-selector class="col-md-3" [product]="soup"></collection-selector>
                    <collection-selector class="col-md-3" [product]="mainCourse"></collection-selector>
                    <collection-selector class="col-md-3" [product]="drink"></collection-selector>
                </div>
            </div>

            <div class="form-group">
                <h3>{{snacks.header}}</h3>
                <div class="row">
                    <multiselect-dropdown class="col-md-6" [product]="snacks">
                    </multiselect-dropdown>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-default btn-lg col-md-2 col-md-offset-5" [disabled]="!isOrderValid()" (click)="makeAnOrder()">Send an order</button>
        </div>
    </div>

</div>
