<div class="container">
    <h2>Please make an order!</h2>

    <div role="form">
        <div class="form-group">
            <label for="userName">User:</label>

            <div *ngIf="!checkAnotherUser" class="form-inline">
                <input type="text" class="form-control" readonly [(ngModel)]="userName" id="userName" />
                <button class="btn" (click)="readUsersList()">Another user</button>
            </div>
            <select *ngIf="checkAnotherUser" class="form-control"  [(ngModel)]="userName" id="userName">
                <option *ngFor="let u of users" [ngValue]="u">{{u}}</option>
            </select>

        </div>
        <div class="form-group">
            <div class="form-group">
                <h3>{{header}}</h3>
                <div class="row">
                    <collection-selector class="col-md-3" [product]="salad"></collection-selector>
                    <collection-selector class="col-md-3" [product]="soup"></collection-selector>
                    <collection-selector class="col-md-3" [product]="mainCourse"></collection-selector>
                    <collection-selector class="col-md-3" [product]="drink"></collection-selector>
                </div>
            </div>

            <div class="form-group">
                <h3>{{snacks.header}}</h3>
                <div class="row">
                    <multiselect-dropdown class="col-md-6" [product]="snacks">
                    </multiselect-dropdown>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-default btn-lg col-md-2 col-md-offset-5" [disabled]="!isOrderValid()" (click)="makeAnOrder()">Send an order</button>
        </div>
    </div>

</div>
