<div class="btn-group">
    <button type="button" class="dropdown-toggle btn" [ngClass]="settings.buttonClasses" (click)="toggleDropdown()">{{title}}&nbsp;<span class="caret"></span></button>


    <ul *ngIf="isVisible && product.collection && product.collection.length > 0" class="dropdown-menu list-group" style="display: block; height: auto; overflow-y: auto;">

        <li role="menuitem" *ngFor="let option of product.collection">
            <a class="list-group-item" (click)="setSelected(option)">
                <span style="width: 16px;" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span>
                <label>{{option}}</label>
            </a>
        </li>

        <li *ngIf="settings.showUncheckAll && numSelected > 0" class="divider"></li>

        <li role="menuitem" *ngIf="settings.showUncheckAll && numSelected > 0">
            <a class="list-group-item" (click)="uncheckAll()">
                <span style="width: 16px;" class="glyphicon glyphicon-remove"></span>
                <label>{{texts.uncheckAll}}</label>
            </a>
        </li>
    </ul>
</div>